<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

<script>
    $(document).ready(function () {
        $('#gift_list_date_event').mask('99/99/9999');
        return false;
    });
</script>

<% if @gift_list.errors.any? %>
<div class="ui orange message">
    <ul class="list">
        <% @gift_list.errors.full_messages.each do |message| %>
        <li> <%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="ui raised segment">
    <div class="ui form">
        <%= form_with(model: [ @gift_list ], local: true) do |form| %>
        <%= form.hidden_field :suggestion, value: false  %>
        <div class="two fields">
            <div class="field">
                <label>Nome</label>
                <%= form.text_field :name, placeholder: 'Informe o nome'  %>
            </div>
            <div class="field">
                <label>Data Evento</label>
                <%= form.text_field :date_event, placeholder: 'Informe a data do evento'  %>
            </div>
        </div>
        <button type="submit" class="ui positive button">
            Salvar
        </button>
        <% end %>
    </div>
</div>