<h2 class="ui orange header"><%= name %></h2>
<div class="ui divider"></div>

<div class="ui four cards">
	<% app_list.each do |app| %>

		<div class="card">
			<div class="image">
				<img src="<%= product_image(app) %>">
			</div>
			<div class="content">
				<div class="header"><%= app.name %></div>
				<div class="meta"><%= app.category %></div>
				<div class="description"><%= truncate app.description, length: 100, seperator: /\w+/ %></div>
			</div>
			<div class="extra content center aligned">
				<div class="ui orange mini horizontal statistic">
					<div class="value">
						R$ <%= number_to_human app.price %>
					</div>
				</div>
			</div>
			<%= link_to add_product_user_stores_path(app.id), method: :post, data: { confirm: 'Deseja Guardar o Produto?' } do %>
				<div class="ui bottom attached button">
					<i class="orange add icon"></i>
					Guardar Produto
				</div>
			<% end %>
		</div>
		
	<% end %>
</div>